In [56]:
from pprint import pprint
import requests
import pandas as pd

In [57]:
api_key = 'api_key=a0afbf297519c34e947af3508e0688f5'

In [58]:
Federal_Reserve_Time_Series_Endpoint = 'https://api.stlouisfed.org/fred/series/observations?'
# Series ID:
    # The type of data to return.

# Returns CPI data.
series_id_CPI = 'series_id=CPIAUCNS'

# Returns US 10 year treasury bond yield data.
series_id_Treasury_Bond_Yield = 'series_id=DGS10'

# 10-Year Treasury Constant Maturity Rate: DGS10
# 5-Year Treasury Constant Maturity Rate: DGS5
# 4-Year Treasury Constant Maturity Rate: DGS4
# 3-Year Treasury Constant Maturity Rate: DGS3
# 2-Year Treasury Constant Maturity Rate: DGS2
# 1-Year Treasury Constant Maturity Rate: DGS1

# Returns target federal funding base rates.
series_id_FedRate = 'series_id=FEDFUNDS'

# Determines which output type.
file_type = 'file_type=json'

# limit
# The maximum number of results to return.

# integer between 1 and 1000, optional, default: 1000

In [59]:
url = f'{Federal_Reserve_Time_Series_Endpoint}{series_id_CPI}&{api_key}&{file_type}'

response = requests.get(url).json()
# response

# Convert 'observations' from JSON into DataFrame
json_df = pd.DataFrame(response['observations'])

# Convert 'value' column to numeric
json_df['value'] = pd.to_numeric(json_df['value'])

FEDFUND_DF = json_df.loc[:, ['date', 'value']]

,Date,Energy Price,Materials Price,Industrials Price,Consumer Discretionary Price,Consumer Staples Price,Healthcare Price,Financials Price,Information Technology Price,Utilities Price
0,2004-06-28,31.639999,26.139999,27.990000,31.270000,22.860001,30.110001,23.119415,20.100000,23.719999
1,2004-07-05,31.930000,26.120001,28.049999,30.730000,22.920000,29.680000,22.737612,19.629999,23.590000
2,2004-07-12,32.650002,26.340000,28.129999,30.309999,22.809999,29.309999,22.558895,18.900000,24.080000
3,2004-07-19,31.840000,25.440001,27.510000,30.129999,22.120001,28.920000,22.388302,18.850000,23.559999
4,2004-07-26,32.450001,26.170000,27.860001,30.430000,21.950001,28.920000,22.721365,19.440001,24.120001
...,...,...,...,...,...,...,...,...,...,...
146,2007-04-16,63.099998,39.080002,36.820000,39.570000,27.600000,36.160000,30.154346,24.230000,41.570000
147,2007-04-23,64.129997,39.340000,37.639999,39.430000,27.500000,36.230000,30.300570,24.610001,41.810001
148,2007-04-30,64.650002,39.400002,37.980000,39.500000,27.400000,36.700001,30.641754,25.010000,42.090000
149,2007-05-07,65.209999,39.810001,38.189999,39.299999,27.200001,36.250000,30.666124,25.190001,42.200001
150,2007-05-14,65.230003,39.759998,38.020000,39.299999,27.100000,36.209999,30.519903,25.070000,42.369999

In [60]:
# Check the current data type of the 'date' column
print(FEDFUND_DF['date'].dtype)

# Reformat the date column
FEDFUND_DF['date'] = pd.to_datetime(FEDFUND_DF['date'], format='%Y-%d-%m')

# If you want to display the date column in YYYY-MM-DD format
FEDFUND_DF['date'] = FEDFUND_DF['date'].dt.strftime('%Y-%m-%d')

FEDFUND_DF = FEDFUND_DF.rename(columns={'value': 'CPI'})

print(FEDFUND_DF)

FEDFUND_DF.to_csv('CPI_DF.csv', index=False)

object
            date      CPI
0     1913-01-01    9.800
1     1913-01-02    9.800
2     1913-01-03    9.800
3     1913-01-04    9.800
4     1913-01-05    9.700
...          ...      ...
1329  2023-01-10  307.671
1330  2023-01-11  307.051
1331  2023-01-12  306.746
1332  2024-01-01  308.417
1333  2024-01-02  310.326

[1334 rows x 2 columns]